<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巴士分頁</title>
</head>
<body>
    <body style="background-color:rgb(232, 209, 197);"></body>
    <font style="text-shadow:0px 0px 15px #82cff0da;">
        <h1>恭喜你現在終於他媽的進來到了這裡</h1>
    </font>
    <h3>以下是你提供的資料</h3>
    <p>你給的東西是他媽的<%= busName%></p>
    <p>公車名字是:<%= data1.RouteName%></p> <%# 取得公車名稱%>
    <p> </p>
    <div class="box">
        <img class="photo" src="https://ebus.gov.taipei/File/Get/bfe76479-fc9d-49cb-8507-0017457d25d3?v=638001480132362513"
            alt="" width="60%" height="60%">
    </div>
    <form action="/index" method="GET">
        <br>
        <input id="submit" type="submit" value="返回主頁">
        </br>
    </form>
</body>
</html>
