<html lang="en">

<head>
    <style>
        body {
            background-color: rgb(232, 209, 197);
            color:rgb(109,46,70);
        }

        h1 {
            /* background-image: url("../pic/head.jpg");*/
            font-size: 60px;
            background-color: rgb(150, 122, 115);
            width: 100% ;
            margin: 0;
            padding: 2rem;
        }

        label {
            font-size: 30px;
        }
        
        input.r1{
            color: rgb(109,46,70);
            font-size: 30px;
        }
        input.r2{
            color: white;
            font-size: 30px;
            border-radius: 15px;
            background-color:rgb(109,46,70);
        } 
        
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>這是他媽的巴士首頁</title>
</head>

<body>
    <h1>TKU BUS</h1>
    <img scr="../pic/head.png">
    <form action="/findBus" method="GET">
        <br>
        <b><label>請輸入欲查詢的公車名稱:</label></b>
        <br />
        <br />
        <input class="r1" type="text" placeholder="公車名稱" name="busName">
        <input class="r2" type="submit" value="提交">
        </br>
    </form>

    <form action="/userlogin" method="GET">
        <input class="r2" type="submit" value="登入帳號" style="position:absolute; bottom: 0; right: 0;">
    </form>

</body>