<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>創建使用者資料</title>
</head>
<body>
    <form action="/userlogin/usercreate" method="GET">
        <br>
        <label>請輸入要創建的使用者名稱:</label>
        <input type="text" name="UserName">
        <br>
        <br>
        <label>請輸入使用者密碼:</label>
        <input type="text" name="UserPassword">
        </br>
        <p></p>
        <% if ( user == null) { %>
            <script>
                alert('創建帳號失敗，請確認你所輸入的帳號密碼');
            </script>
        <% } %>
        <% if( user !=null && user !="1" ) { %>
            <script>
                alert('帳號創建成功, 請回到登入頁登入');
            </script>
        <% } %>
        <input type="submit" value="提交">
        </br>
    </form>

    <form action="/index" method="GET">
        <br>
        <input id="submit" type="submit" value="返回主頁">
        </br>
    </form>

    <form action="/userlogin" method="GET">
        <br>
        <input id="submit" type="submit" value="返回登入頁">
        </br>
    </form>
</body>
</html>